@media (max-width: 1280px) {
  .gap-270 {
    gap: 100px;
  }
  .max-w-560 {
    max-width: 480px;
  }
  .text-54 {
    font-size: 44px;
  }
  .py-24 {
    padding: 16px 0px;
  }
  .pl-100 {
    padding-left: 40px;
  }
  .px-10 {
    padding: 0px 32px;
  }
  .pt-12 {
    padding-top: 40px;
  }
  .max-w-100 {
    max-width: 90px;
  }
  .text-28 {
    font-size: 24px;
  }
  .mt-24 {
    margin-top: 15px;
  }
  .mb-10 {
    margin-bottom: 5px;
  }
  .p-110-125 {
    padding: 80px 50px 95px 50px;
  }
  .gap-75 {
    gap: 40px;
  }
  .mb-100 {
    margin-bottom: 70px;
  }
  .mt-150 {
    margin-top: 100px;
  }
  .mb-60 {
    margin-bottom: 50px;
  }
  .p-155-70-100-90 {
    padding: 100px 40px 70px 40px;
  }
  .gap-50 {
    gap: 40px;
  }
  .max-w-70 {
    max-width: 50px;
  }
  .text-2xl {
    font-size: 20px;
  }
  .mt-60 {
    margin-top: 40px;
  }
}
@media (max-width: 1024px) {
  .max-w-560 {
    max-width: 400px;
  }
  .text-54 {
    font-size: 40px;
  }
  .pl-100 {
    padding-left: 32px;
  }
  .text-xl {
    font-size: 18px;
  }
  .py-16-32 {
    padding: 12px 24px;
  }
  .max-w-200 {
    max-width: 160px;
  }
  .text-lg {
    font-size: 16px;
  }
  .max-w-100 {
    max-width: 80px;
  }
  .p-110-125 {
    padding: 60px 50px 60px 50px;
  }
  .gap-75 {
    gap: 40px;
  }
  .d-flex-2 {
    flex-wrap: wrap;
  }
  .w-full-2 {
    width: 46.5%;
  }
  .justify-between {
    justify-content: center;
  }
  .mb-100 {
    margin-bottom: 50px;
  }
  .gap-270 {
    gap: 50px;
  }
  .gap-24 {
    gap: 18px;
  }
  .mt-30 {
    margin-top: 15px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-150 {
    margin-top: 70px;
  }
  .p-155-70-100-90 {
    padding: 80px 40px 70px 40px;
  }
  .text-2xl {
    font-size: 18px;
  }
  .mt-60 {
    margin-top: 35px;
  }
}
@media (max-width: 768px) {
  .max-w-560 {
    max-width: 300px;
  }
  .d-flex {
    flex-direction: column;
  }
  .max-w-200 {
    max-width: 140px;
  }
  .pl-100 {
    padding-left: 0px;
  }
  .px-4 {
    padding: 0px 16px;
  }
  .text-54 {
    font-size: 32px;
  }
  .pt-12 {
    padding: 15px 16px;
  }
  .py-24 {
    padding: 10px 0px;
  }
  .text-xl {
    font-size: 14px;
  }
  .text-lg {
    font-size: 12px;
  }
  .py-16-32 {
    padding: 10px 18px;
  }
  .max-w-100 {
    max-width: 55px;
  }
  .text-28 {
    font-size: 20px;
  }
  .text-base {
    font-size: 14px;
  }
  .mt-24 {
    margin-top: 10px;
  }
  .w-full-2 {
    width: 100%;
  }
  .p-110-125 {
    padding: 30px 20px 30px 20px;
  }
  .px-24 {
    padding: 0px 16px;
  }
  .mb-100 {
    margin-bottom: 44px;
  }
  .max-w-70 {
    max-width: 30px;
  }
  .text-start-res {
    text-align: center;
  }
  .mx-auto-res {
    margin: auto;
  }
  .d-flex-res {
    display: flex;
  }
  .px-10 {
    padding: 0px 16px;
  }
  .max-w-400 {
    max-width: 100%;
  }
  .gap-24 {
    gap: 15px;
  }
  .mt-150 {
    margin-top: 50px;
  }
  .mb-60 {
    margin-bottom: 30;
  }
  .p-155-70-100-90 {
    padding: 30px 20px 30px 20px;
  }
  .mt-32 {
    margin-top: 20px;
  }
}
@media (max-width: 640px) {
  .d-flex-r {
    flex-direction: column;
  }
  .text-2xl {
    font-size: 16px;
  }
  .mt-60 {
    margin-top: 30px;
  }
  .p-16-24 {
    padding: 12px 20px;
  }
  .mb-100 {
    margin-bottom: 30px;
  }
}
